<div class="row" columbia-directive>
			<form><input type="button" value=" BACK TO ARTICLE " class="btn-primary bebas submit verify-input" onclick="history.go(-1);return false;" /></form>
<!-- 
	<div id="article_reader"> -->

		<div id="featured">

		  <img src="images/Heavy_Hitters/Motoroized-Patriot.jpg" class="carouOne"/>
		  <img src="images/Heavy_Hitters/Handyman.jpg" class="carouTwo"/>
		  <img src="images/Heavy_Hitters/Boys-of-Silence.jpg" class="carouThree"/>
		  <img src="images/Heavy_Hitters/Motoroized-Patriot.jpg" class="carouFour"/>
		  <img src="images/Screens/BioShock-Infinite-Screen-03.jpg" class="carouFive" />
		  <img src="images/Screens/Image-2---Elizabeth.jpg" class="carouSix" />
		  <img src="images/Screens/Image-1---Vox-&-Founders.jpg" class="carouSeven" />
		  <img src="images/Screens/Image-2---Vox-&-Founders.jpg" class="carouEight" />
		  <img src="images/Screens/Image-2---Columbia.jpg" class="carouNine" />
		  <img src="images/Screens/Image-1---Columbia.jpg" class="carouTen" />
		  <img src="images/Screens/BioShock-Infinite-Screen-01.jpg" class="carouEleven" />
		  <img src="images/Screens/Image-2---Combat.jpg" class="carouTwelve" />
		  <img src="images/Screens/Image-1---Franchise-History.jpg" class="carouThirteen" />
		  <img src="images/Screens/Image-2---Franchise-History.jpg" class="carouFourteen" />
		  <img src="images/Screens/Image-3---Franchise-History.jpg" class="carouFifteen" />
		</div>

<!-- 	</div> -->
		
</div>


<div id="preload_background"></div>

<div ng-click="clickHandler(event)" ng-controller="PreloaderController" class="preloader">
	<img src="images/spinning_gear.gif" alt="preloader">
	<h5>LOADING...</h5> <!-- please wait...still loading {{percentCompleted}}% -->
</div>
