<div class="row" columbia-directive>

	<div id="article_reader">

		<div class="row">
			<div class="twelve columns">
				<h2 class="bebas">The Awesome Arsenal of Factions at War</h2>
			</div>
		</div>

		<div class="row">

			<div class="five columns">

				<!-- <a href="#_" ng-click="setRoute('gallery')" data-slideNum="carouEleven" class="imageAction"><img src="images/Screens/BioShock-Infinite-Screen-01.jpg" class="carouEleven"/></a> -->
				<img src="images/Screens/BioShock-Infinite-Screen-01.jpg" class="carouEleven"/>
			</div>

			<div class="seven columns">

				<p>In 2007, BioShock introduced players to a unique arsenal, and an imaginative suite of combat options. The heady mix of mid-twentieth century firearms and DNA-altering Plasmids facilitated a freeform approach to combat that saw players quickly develop their favourite combinations.</p> 

				<p>BioShock Infinite expands upon its predecessor’s outrageous arsenal. Booker DeWitt has access to a range of firearms, from the stopping-power of the buckshot-spewing China Broom Shotgun to the bewildering rate of fire of Rolston's Reciprocating Repeater. While impressive, these conventional weapons represent just the tip of this particularly destructive iceberg.</p> 
			</div>
		</div>

		<div class="row">
			<div class="twelve columns">
				<p>Vigors are the kicker in BioShock Infinite’s volatile combat cocktail. They are dual-wielded with firearms. The elemental burn of Devil’s Kiss and thunderous fury of Shock Jockey are capable of causing panic amongst DeWitt’s enemies; the sharp claws and greedy craws of a Murder of Crows can slow an enemy,or bring about an adversary’s grisly end.</p> 

				<p>Even so, DeWitt will often find himself outnumbered, and so should seek to even the odds by using the Vigors’ secondary fire-modes to lay traps, prior to a fully-fledged fire-fight developing. Rendering foes defenceless by catapulting them into the air with Bucking Bronco is not only practical, it’s entertaining.</p>

			</div>

		</div>


		<div class="row">
			<div class="seven columns">
				<p>One of the most fundamental addition to <span class="italic">BioShock Infinite’s</span> combat is the introduction of its wide-open spaces. While BioShock’s underwater city of Rapture created a moody, claustrophobic atmosphere, Columbia’s blue skies represent relative freedom and are crisscrossed by the Sky-Line network. DeWitt’s Sky-Hook gives him carte blanche to avail himself of the advantages of its myriad, albeit dangerous, traversal options and offers him a choice of battlefield positions.</p>
			</div>

			<div class="five columns">
				<!-- <a href="#_" ng-click="setRoute('gallery')" data-slideNum="carouTwelve" class="imageAction"><img src="images/Screens/Image-2---Combat.jpg" class="carouTwelve"/></a> -->
				<img src="images/Screens/Image-2---Combat.jpg" class="carouTwelve"/>
			</div>
		</div>

		<div class="row">
			<div class="twelve columns">
				<p>DeWitt can quickly move to higher ground, momentarily escape the fracas below or simply ride the rollercoaster, picking-off enemies and raining down death from above. Of course, he’s not the only one capable of utilising the Sky-Lines. Columbia’s law enforcers are just as adept at scaling its heights, while the Heavy Hitter’s Handyman can electrify the rails to prematurely end DeWitt’s free ride.</p>

				<p>Elsewhere, Elizabeth will frequently prove herself invaluable during combat. With her unique ability to expose tears throughout Columbia, DeWitt’s AI companion can call forth cover, turrets and alter the layout of the battlefield. While DeWitt’s penchant for wet work might sometimes shock his companion, he knows that he cannot hope to see Elizabeth safely out of the city using mild manners and gentlemanly conduct alone. Fortunately for both DeWitt and the player, BioShock Infinite’s deadly palette of guns, Vigors, Sky-Lines and tears affords many more highly-entertaining alternatives.</p>
			</div>

		</div>

	</div>
		
</div>


<div id="preload_background"></div>

<div ng-click="clickHandler(event)" ng-controller="PreloaderController" class="preloader">
	<img src="images/spinning_gear.gif" alt="preloader">
	<h5>LOADING...</h5> <!-- please wait...still loading {{percentCompleted}}% -->
</div>
