<div class="row" columbia-directive>

	<div id="article_reader">
		<div class="row">
			<div class="twelve columns">
			
	<!-- 		<div id="target">
			</div>
			<div id="hidden-wrapper"> -->

				<h2 class="bebas">Columbia’s Cavalry: The Heavy Hitters</h2>
		
				<p>Booker DeWitt and his companion Elizabeth have a lot to contend with as they make their way through the city of Columbia. There is the mystery of Elizabeth’s role in Comstock’s plans, DeWitt’s troubling past and the interminable secrets of the city itself. However, more pressing than any of these intangible concepts is the Heavy Hitters: a special class of enemy consisting of four fearsome entities, each with its own unique and ever-so-slightly twisted purpose.</p>
			</div>
		</div>

		<div class="row">	
			<div class="five columns">
				<!-- <span class="tape_top-left"></span> --> 
					<!-- <a href="#_" ng-click="setRoute('gallery')" data-slideNum="carouOne" class="imageAction"><img src="images/Heavy_Hitters/Motoroized-Patriot.jpg"></a> -->
					<img src="images/Heavy_Hitters/Motoroized-Patriot.jpg">
				<!-- <span class="tape_bottom-right"></span> -->
			</div>

			<div class="seven columns">
				<h4 class="title_img bebas">Motorised Patriot</h4>
				<p class="dontend">A mechanical monstrosity, the Motorised Patriot is relentless in its pursuit of the enemies of Columbia. Rejecting subtle tactics and subterfuge for head-on assault, the Motorised Patriot has no resolve to break and no mercy to which to appeal. He’s been built for one thing and that ruddy great Pepper-Mill he’s wielding should give you a clear idea of what that one thing is. He takes his constitutional right to bear arms extremely seriously.</p>
			</div>
		</div>

		<div class="row">
			<div class="seven columns">
				<h4 class="title_img bebas">Handyman</h4>
				<p>Despite their fearsome stature, the Handymen of Columbia are not naturally aggressive. Their artificial appendages were devised as a way of assisting maimed and injured citizens. However, when pressed, the mechanised behemoths prove themselves capable of advanced combat tactics, while their imposing size belies their ability to cover great distances very quickly indeed.</p>
			</div>

			<div class="five columns">
				<!-- <span class="tape_top-left"></span>  -->
					<!-- <a href="#_" ng-click="setRoute('gallery')" data-slideNum="carouTwo" class="imageAction"><img src="images/Heavy_Hitters/Handyman.jpg"></a> -->
					<img src="images/Heavy_Hitters/Handyman.jpg">
				<!-- <span class="tape_bottom-right"></span> -->
			</div>
		</div>


		<div class="row">
			<div class="five columns">
				<!-- <span class="tape_top-left"></span>  -->
					<!-- <a href="#_" ng-click="setRoute('gallery')" data-slideNum="carouThree" class="imageAction"><img src="images/Heavy_Hitters/Boys-of-Silence.jpg"></a> -->
					<img src="images/Heavy_Hitters/Boys-of-Silence.jpg">
				<!-- <span class="tape_bottom-right"></span> -->
			</div>

			<div class="seven columns">
				<h4 class="title_img bebas">Boys of Silence</h4>
				<p>The Boys of Silence serve as intelligent security sentinels. They’re blind -- but as should be readily apparent that’s only of minor detriment to their ability to track the movements of DeWitt and Elizabeth. Once alerted to the presence of unauthorised personnel, they’re able to call forth waves of reinforcements until such time that they are silenced permanently. The fear and loathing they elicit when imagining what could possibly be beneath that unseeing, expressionless mask serves as yet another weapon in their disturbing arsenal.</p> 
			</div>
		</div>


		<div class="row">
			<div class="seven columns">
				<h4 class="title_img bebas">Siren</h4>
				<p class="dontend">Whether the Siren is an abomination of nature or another perverse creation of Columbia’s greatest minds is currently unknown. Her eerie song is capable of raising the dead to fight once more alongside the living, which necessitates tactical decisions about how best to approach her in combat while defending against the forces at her disposal.</p>
<p>These four unique enemies are some of BioShock Infinite’s Heavy Hitters, a disturbing quartet of elite weapons. Each will test Booker DeWitt to his limits and make him question whether he couldn’t have found a way to repay his debt without ever entering Columbia and having to face them.</p>
			</div>

			<div class="five columns">
				<!-- <span class="tape_top-left"></span>  -->
					<!-- <a href="#_" ng-click="setRoute('gallery')" data-slideNum="carouFour" class="imageAction"><img src="images/Heavy_Hitters/Siren.jpg"></a> -->
					<img src="images/Heavy_Hitters/Siren.jpg">
				<!-- <span class="tape_bottom-right"></span> -->
			</div>
		</div>
<!-- 
		</div> -->
	</div>
		
</div>


<div id="preload_background"></div>

<div ng-click="clickHandler(event)" ng-controller="PreloaderController" class="preloader">
	<img src="images/spinning_gear.gif" alt="preloader">
	<h5>LOADING...</h5> <!-- please wait...still loading {{percentCompleted}}% -->
</div>
