<div class="row" columbia-directive>

	<div id="article_reader">

		<div class="row">
			<div class="twelve columns">
				<h2 class="bebas">Columbia: The World’s Greatest City</h2>
			</div>
		</div>

		<div class="row">

			<div class="five columns">

				<!-- <a href="#_" ng-click="setRoute('gallery')" data-slideNum="carouNine" class="imageAction"><img src="images/Screens/Image-2---Columbia.jpg" class="carouNine"/></a> -->
				<img src="images/Screens/Image-2---Columbia.jpg" class="carouNine"/>
			</div>

			<div class="seven columns">
				<p>Unveiled at the 1893 Columbian technology exposition, the floating city of Columbia captured the imagination of the world with its grace, beauty and the ingenuity of its design. Heralded as both a scientific marvel and a symbol of the success of the American Experiment, Columbia represented the country’s glorious ascent at the end of the nineteenth century. </p>
	
				<p>For a time, Columbia was bathed in the warm glow of American national pride and world wonder, but such adoration could not last. Its proud and zealous Founders believed the city to be outside of the jurisdiction of the US government. Contravening the orders of US President McKinley, the city used lethal force to quell an uprising against foreign imperialism halfway across the world in China. Shortly after, Columbia’s leader Zachery Hale Comstock ordered the dissolution of Columbia’s alliance with the US government and the city’s secession from The Union swiftly followed.</p>
				</div>
		</div>

		<div class="row">

			<div class="twelve columns">

				<p>When former government agent Booker DeWitt arrives in Columbia looking for the young woman known only as Elizabeth, it’s like he’s stepped through the gates of paradise. Columbia looks to be a bustling hub of productivity, a luxurious leisure retreat and an ark of hope and prosperity. Its streets gleam like gold and taking to its Sky-Line network is like flying with angels.</p>
			</div>
		</div>

		<div class="row">
			<div class="seven columns">
				<p>But there is a darker side to the city that quickly reveals itself. The founders of Columbia revile what they view as the dilution of Columbian patriotism and encourage its citizens to bear arms against “foreigners and anarchists”. The religious zeal with which Father Comstock rules over the city serves as a boot on the neck of its people. While Columbia’s towering architecture is awe inspiring against the dazzling blue sky, its politics pollute its wholesome image and tinge its wonder with subversive poison.</p>
			</div>

			<div class="five columns">
				<!-- <a href="#_" ng-click="setRoute('gallery')" data-slideNum="carouTen" class="imageAction"><img src="images/Screens/Image-1---Columbia.jpg" class="carouTen"/></a> -->
				<img src="images/Screens/Image-1---Columbia.jpg" class="carouTen"/>
			</div>
		</div>

		<div class="row">
			<div class="twelve columns">
				<p>Nonetheless, it is into Columbia that DeWitt must venture if he is to fulfil his mission of retrieving Elizabeth. Along the way he’ll experience spectacular scenes play out across the living, breathing canvas of Columbia as Irrational Games’ realises its vision of one of the most ambitious cityscapes ever created. Columbia is a city of beauty, but DeWitt seems destined to discover the hard way that beauty is only skin deep. Beneath the city’s gleaming facade and extraordinary architecture is a dark, troubled and terrifying soul. </p>
			</div>
		</div>

	</div>
		
</div>


<div id="preload_background"></div>

<div ng-click="clickHandler(event)" ng-controller="PreloaderController" class="preloader">
	<img src="images/spinning_gear.gif" alt="preloader">
	<h5>LOADING...</h5> <!-- please wait...still loading {{percentCompleted}}% -->
</div>
