<div class="row" columbia-directive>

	<div id="article_reader">

		<div class="row">
			<div class="twelve columns">
			
	<!-- 		<div id="target">
			</div>
			<div id="hidden-wrapper"> -->
				<h2 class="bebas">The War for Columbia’s Future Escalates</h2>
				
				<p>BioShock Infinite’s two warring factions, the Founders and the Vox Populi, have their respective roots in the polar extremes of Columbia’s socioeconomic spectrum. Both have evolved since Columbia’s inception, moving further away from one another’s core beliefs but also losing sight of what they themselves once held as sacrosanct. By the time Booker DeWitt arrives at Columbia’s gleaming gates, the two factions are involved in a bitter power struggle and bloody skirmishes are commonplace.</p>
			</div>
		</div>

		<div class="row">
			

			<div class="five columns">
				<!-- <a href="#_" ng-click="setRoute('gallery')" data-slideNum="carouEight" class="imageAction"><img src="images/Screens/Image-2---Vox-&-Founders.jpg" class="carouEight"/></a> -->
				<img src="images/Screens/Image-2---Vox-&-Founders.jpg" class="carouEight"/>

			</div>
			<div class="seven columns">
				<p>Comprised of the rich, white”upper class”, the Founders conceived of the majesty of Columbia and oversaw its development from concept to construction. The Founders promoted Columbia’s prosperity and autonomy in the years that straddled its secession and they claim credit for everything that the glorious Columbia has come to embody. There are cracks in their flawless visage, however.</p>
				<p>The Founders have maintained their position of power by enforcing the gulf between the wealthy and the poor. They incite and promote the blatant and violent repression of Columbia’s ethnic minorities. They control the population of Columbia through fear and prejudice, wielding both as weapons of their zealous crusade.</p>
			</div>
		</div>

		<div class="row">
			<div class="seven columns">
				<p>The Vox Populi emerged as a riposte to the Founders perverse fundamentalism. In its beginning, the Vox Populi were organized with the goal of providing a voice for Columbia’s migrant workers and underrepresented populous. They aimed to establish unions in work places and opposed the xenophobic repression of Columbia’s minorities. In its early years, many the Vox Populi sought only to redress the balance of power within Columbia. However, the so-called Voice of the People has since abandoned its peaceful protests and reasonable arguments for equality.</p>
			</div>

			<div class="five columns">
				<!-- <a href="#_" ng-click="setRoute('gallery')" data-slideNum="carouSeven" class="imageAction"><img src="images/Screens/Image-1---Vox-&-Founders.jpg" class="carouSeven"/></a> -->
				<img src="images/Screens/Image-1---Vox-&-Founders.jpg" class="carouSeven"/>
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<p>Now, the Vox Populi seeks to tear down not just the corrupt powerbase of the Founders, but also the physical representation of their ideals. It seems as though The Vox Populi is no longer interested in the redistribution of wealth, now it takes what it wants and gleefully watches the rest burn. </p>

				<p>In the end, it is as if The Founders and the Vox Populi have become two sides of the same impetuous coin. It’s into the midst of this volatile conflict that DeWitt must venture if he is to retrieve Elizabeth but escaping the city alive is another matter entirely.</p>
			</div>
		</div>

	</div>
		
</div>


<div id="preload_background"></div>

<div ng-click="clickHandler(event)" ng-controller="PreloaderController" class="preloader">
	<img src="images/spinning_gear.gif" alt="preloader">
	<h5>LOADING...</h5> <!-- please wait...still loading {{percentCompleted}}% -->
</div>
