<div class="row" columbia-directive>

	<div id="article_reader">

		<div class="row">
			<div class="twelve columns">
			
	<!-- 		<div id="target">
			</div>
			<div id="hidden-wrapper"> -->
				<h2 class="bebas">ELIZABETH: THE MYSTERIOUS GIRL OF MONUMENT ISLAND</h2>
				
				<h5 class="bebas">“Bring us the girl and wipe away the debt.”</h5>
			</div>
		</div>

		<div class="row">


			<div class="twelve columns">
				<p>This seemingly straightforward order forms the words that are ringing in the ears of Booker DeWitt as he arrives at the gates of the floating city of Columbia. From the outset of <span class="italic">BioShock Infinite</span>it’s clear that Elizabeth is important from a narrative perspective. Elizabeth is what drives DeWitt to seek out the city in the sky and it’s apparent that she’s valuable enough to the right people that they are willing to forgive DeWitt’s prior transgressions if he can deliver her to them.</p> 
			</div>
		</div>

		<div class="row">

			<div class="five columns">
				<!-- <a href="#_" ng-click="setRoute('gallery')" data-slideNum="carouFive" class="imageAction"><img src="images/Screens/BioShock-Infinite-Screen-03.jpg" class="carouFive"/></a> -->
				<img src="images/Screens/BioShock-Infinite-Screen-03.jpg" class="carouFive"/>
			</div>

			<div class="seven columns">
				<p>Long before DeWitt pinpoints Elizabeth’s whereabouts he is exposed to depictions of her as the “Lamb of Columbia.” He encounters repeated warnings that Columbia will do all it can to protect her against those that might try to steal her away. Elizabeth is a young woman who is held up as both a talisman and a guiding light for Columbia and her people. However, when DeWitt tracks her down to Monument Island,it seems that Elizabeth is not just the pride of Columbia, but also its prisoner.  </p>

				<p>Locked away in a tower, Elizabeth has access to an extensive library and comfortable living quarters. There is, however, a darker backdrop to her plush surroundings: DeWitt uncovers evidence that Elizabeth is being observed without her knowledge. It becomes quickly apparent that Elizabeth has powers beyond the understanding of either DeWitt or even of those that are studying her.</p>
			</div>
		</div>


		<div class="row">

			<div class="twelve columns">
				<p>It’s these powers that complement DeWitt’s as the pair seek to escape the city of Columbia. Elizabeth’s ability to manipulate tears in the fabric of space and time facilitates tactical and spectacular combat options, as well as fuelling the mystery of her origins and purpose. Elizabeth is also capable of picking locks, foraging for resources and applying her keen intellect to the puzzles at the heart of Columbia.</p>

				<p>These abilities, along with her complex personality and child-like curiosity, combine to make her the most intricately designed and brilliantly realised AI companion ever seen in a video game. More than artificial intelligence, though, Elizabeth is Columbia’s driving force and its biggest contradiction; its beacon of hope and its darkest secret.</p>
			</div>
		</div>  

			
		<div class="row">

			<div class="seven columns">
				<p>Elizabeth’s preoccupation with Paris, France, and natural predisposition toward living things is beginning to manifest itself more readily in her behaviour. While my team and I respect your wishes that Elizabeth not be made aware of our monitoring of her, I request that we be allowed to carry out one-to-one interviews for the purpose of psychological evaluation.</p>

				<p>“Bring us the girl and wipe away the debt.”</p>  
				
				<p>Such a straightforward order, but if the <span class="italic">BioShock</span> franchise has taught us anything it’s that even the simplest of concepts can hide myriad meanings.</p>
			</div>

			<div class="five columns">
					<!-- <a href="#_" ng-click="setRoute('gallery')" data-slideNum="carouSix" class="imageAction"><img src="images/Screens/Image-2---Elizabeth.jpg" class="carouSix"/></a> -->
					<img src="images/Screens/Image-2---Elizabeth.jpg" class="carouSix"/>
			</div>

		</div>

	</div>
		
</div>


<div id="preload_background"></div>

<div ng-click="clickHandler(event)" ng-controller="PreloaderController" class="preloader">
	<img src="images/spinning_gear.gif" alt="preloader">
	<h5>LOADING...</h5> <!-- please wait...still loading {{percentCompleted}}% -->
</div>
