<div class="row" columbia-directive>

	<div id="article_reader">

		<div class="row">
			<div class="twelve columns">
			
				<h2 class="bebas">History of the BioShock franchise</h2>
				
			</div>
		</div>

		<div class="row">

			<div class="five columns">
				<!-- <a href="#_" ng-click="setRoute('gallery')" data-slideNum="carouThirteen" class="imageAction"><img src="images/Screens/Image-1---Franchise-History.jpg" class="carouThirteen"/></a> -->
				<img src="images/Screens/Image-1---Franchise-History.jpg" class="carouThirteen"/>
			</div>


			<div class="seven columns">
				<p>In 2007 Ken Levine and his creative team at Irrational Games (known at the time as 2K Boston) launched BioShock, a first-person shooter that challenged the perception of what the genre was capable of. BioShock set a new standard for interactive story-telling, moving away from conventional cut-scenes so heavily relied upon by its contemporaries, and offered a dynamic approach to combat with a heady mix of gun-play and extraordinary powers.</p>
				<br>
				<p>Set in 1960, BioShock told the story of Rapture, an underwater city built upon the vision of Andrew Ryan. Rapture was intended as a place of opportunity and moral objectivism; predicated on the notion that a brilliant mind should not be fettered by morality or public conscience and that the talent of the individual should not be taxed for the benefit of the feckless. </p>
				<br>
			</p>
			</div>
		</div>

		<div class="row">
			<div class="seven columns">	
				<p>Unshackled from conventional restrictions, Rapture’s scientists unlocked the secrets of DNA-splicing tonics, which the population soon became dangerously obsessed with. The decline of Rapture was charted by the very environments of BioShock’s world and the vivid ruins of its Art Deco architecture. Former citizens turned half-mad Splicers stalked Rapture’s halls, while the disquieting relationship between the Big Daddies and Little Sisters characterised the city’s former perverse glory.</p>
				<br>
				<p>BioShock’s commentary on Objectivist philosophy, moral choice and video game design was brilliantly realised by one of the medium’s most memorable reveals and three little words: “Would you kindly?”. As the player grappled with the shattered assumptions of their position in the game and the protagonist’s role in the Rapture experiment, the pieces fell into place to culminate in a chilling scene played out in Andrew Ryan’s office.</p>
				<br>
				<p>BioShock’s early critical acclaim was later solidified by numerous awards for its visual and audio design, along with its writing and story direction. It won numerous Game of the Year awards, both from fan sites and the specialist press, as well as the 2007 BAFTA for Best Game.</p>
				<br>
			</div>
			<div class="five columns">
				<!-- <a href="#_" ng-click="setRoute('gallery')" data-slideNum="carouFourteen" class="imageAction"><img src="images/Screens/Image-2---Franchise-History.jpg" class="carouFourteen"/></a> -->
				<img src="images/Screens/Image-2---Franchise-History.jpg" class="carouFourteen"/>
			</div>
		</div>

		<div class="row">
			<div class="five columns">
				<!-- <a href="#_" ng-click="setRoute('gallery')" data-slideNum="carouFifteen" class="imageAction"><img src="images/Screens/Image-3---Franchise-History.jpg" class="carouFifteen"/></a> -->
				<img src="images/Screens/Image-3---Franchise-History.jpg" class="carouFifteen"/>
			</div>

			<div class="seven columns">	
				<p>In 2010 2K Marin launched BioShock 2. The developer had previously worked on the PlayStation 3 port of the original BioShock and picked up the story of Rapture some eight years after the death of Andrew Ryan. The narrative was one of conflict and conscience as Subject Delta, a deactivated Big Daddy, struggled to understand his place in the devastated Rapture. BioShock 2 continued the original title’s exploration of moral choices but this time the player’s decisions directly affected the emotional development of one Eleanor Lamb: Delta’s former ward, matured Little Sister and daughter of despot antagonist, Sofia Lamb. A commercial success in its own right, the worldwide combined sales of BioShock and BioShock 2 have exceeded 7m units.</p>
				<br>
			</div>
		</div>

		<div class="row">
			<div class="twelve columns">	
				<p>Now, Levine and Irrational Games are set to return to the BioShock universe with the launch of BioShock Infinite. Bringing with it Levine’s award-winning writing talent and the team’s proven track-record for engaging design, BioShock Infinite exceeds the scope and ambition of Rapture’s underwater dystopia with the introduction of the sky-bound, floating city of Columbia.</p>
			 	<br>
				<p>As former-Pinkerton agent Booker DeWitt, players will travel to Columbia to retrieve the mysterious Elizabeth, an AI companion capable of creating tears in the very fabric of space and time. Together, DeWitt and Elizabeth will become embroiled in the machinations of one of Columbia’s founding fathers: the religious zealot, Zachery Comstock. BioShock Infinite further refines the original game’s imaginative mechanics, offering the ability to dual-wield firearms and diverse, adaptable powers known as Vigors, while Columbia’s Sky-Lines introduce high-speed traversal and intense aerial combat. BioShock Infinite aims to exceed the impact made by its 2007 forebear and is expected to be quite unlike anything that has gone before it.</p>
			</div>
		</div>


	</div>
		
</div>


<div id="preload_background"></div>

<div ng-click="clickHandler(event)" ng-controller="PreloaderController" class="preloader">
	<img src="images/spinning_gear.gif" alt="preloader">
	<h5>LOADING...</h5> <!-- please wait...still loading {{percentCompleted}}% -->
</div>
